@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!doctype html>
<html lang="pt-br">
<head>
    <script src="https://kit.fontawesome.com/6f925b0522.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gaspacho</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Receitas.css">
</head>
<body>
    <!-- topo-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom" style="background-color: #091B26;">
        <a class="navbar-brand" href="#"><span style="color: #FE9900;">Aprove</span> Receitas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Site" asp-action="Home">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" <a class="nav-link" asp-controller="Site" asp-action="Favoritos">Favoritos</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Site" asp-action="CadastrarReceita">Criar Receita</a>
                </li>
        </div>
    </nav>
    <!--para telas menores-->
    <div id="home" class="container-fluid">
    </div>

    <div id="about" class="container-fluid">
    </div>

    <div id="services" class="container-fluid">
    </div>
    <div class="separador"></div>
    <!--BODY-->
    <h1 id="titulo">Gaspacho</h1>
    <div class="separador"></div>
    <br>
    <div class="recipe" id="recipe4">
        <div class="imageCont2">
            <img src="~/imagens/img-2.png" alt="Imagem 1" class="image">
            <br>
            <i class="favorite2 fa-solid fa-heart" data-recipe="4"></i> <!-- Ícone de coração -->
            <i class="share fa-regular fa-share-from-square"></i>
        </div>
    </div>
    <br>
    <div class="icon2">
        <i class="fa-regular fa-clock"> 30 Min</i>
        <i class="fa-solid fa-utensils "> Facil</i>
        <i class="fa-solid fa-coins "> Custo Baixo</i>
    </div>
    <br>
    <div class="separador"></div>
    <div class="ingredientes">
        <h2>Ingredientes</h2>
        <p>
            -3 tomate maduros
            <br>
            -1 pimentão
            <br>
            -1 cenoura
            <br>
            -Vinagre
            <br>
            -3 copos de água fria
            <br>
            -1 pepino
            <br>
            -2 dente de alho
            <br>
            -Azeite
            <br>
            -Sal
        </p>
    </div>
    <div class="separador"></div>
    <br>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/imagens/prop1.jpg" class="d-block w-90 h-auto" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/imagens/prop2.jpeg" class="d-block w-90 h-500 " alt="...">
            </div>
        </div>
    </div>
    <br>
    <div class="separador"></div>
    <br>
    <div class="preparo">
        <h2>Modo de Preparo</h2>
        <ul>1. Bata todos os ingredientes no liquidificador.</ul>
        <ul>2. Leve à geladeira.</ul>
        <ul>3. Sirva frio com pão.</ul>
    </div>
    <br>
    <div class="separador"></div>
    <footer>
        <a href="#" style="color: #FE9900;"><i class="fa-brands fa-facebook"></i></a>

        <a href="#" style="color: #FE9900;"><i class="fa-brands fa-instagram"></i></a>

        <a href="https://wa.me/5567993339665?text=Ol%C3%A1%2C+tudo+bem%3F+tenho+interesse+em+contar+com+os+seus+servi%C3%A7os." style="color: #FE9900;"><i class="fa-brands fa-whatsapp"></i></a>
        <br>
        <br>
        <span style="color: #fff;">Criado por <a href="#about" style="color: #FE9900;"><i>Aprove Receitas</i></a> | © Todos os direitos reservados 2023</span>
    </footer>
    <script src="~/js/ReceitasFav.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>